/* Global Style */

h1 h2 p {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


/* header style */

header {
    width:100%;
    display:flex;
    justify-content:space-around;
}

header img{
    width:350px;
    flex:1;
}

header h1 {
    margin-top: 40px;
    font-size:20px;
    font-style: normal;
    text-align: center;
    flex:1;
}

#hamburger {
    margin-top:32px;
}

#hamburger div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    border-radius: 5px;
}

/* nav style */

nav {
    background-color: seagreen;
    font-size: 30px;
    color:white;
    border: solid seagreen;
    text-shadow: 1px 1px lightgray;
    border-radius: 10px;
    border:1px seagreen solid;
    box-shadow: 5px 2px 2px seagreen;
}

nav ul {
    list-style: none;
    display:flex;
    justify-content: space-between;
}

nav li {
    margin-right:50px;
}

nav a {
    text-decoration: none;
    color: white;
}

/* main page style */

.main-page {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    box-sizing: border-box;
    justify-content: center;
}

.main-page > .second-story {
    display: flex;
    flex-direction: column;
    flex-basis: 480px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border:1px seagreen solid;
    box-shadow: 5px 2px 2px seagreen;
}

article {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content:flex-start;
    height: 350px;
    max-width: 400px;
}

.top-story {
    min-width: 820px;
    display: flex;
    flex-flow:wrap;
    align-content:flex-start;
    box-sizing: border-box;
    justify-content:flex-start;
    height: 350px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border:1px seagreen solid;
    box-shadow: 5px 2px 2px seagreen;
}

.top-story img {
    width: 50%;
    border-radius: 10px;
    flex-wrap: wrap;
}

.top-story a {
    text-decoration:none;
    color:black;
    font-size:30px;
    font-weight: bold;
    text-align: center;
    max-width: 350px;
    padding-top: 20px;
    flex-wrap: wrap;
    padding-left: 20px; 
}

.top-story p {
    text-decoration:none;
    font-size:16px;
    max-width: 780px;
    flex-wrap:wrap;
    text-align: center;
    padding-top: 20px;
}
    
body {
    margin-left: 10%;
    margin-right: 10%;
    padding-right: 10%;
    padding-left: 10%;
}

.second-story img{
    max-width: 100%;
    border-radius: 10px;
}

.second-story a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding-top:10px;
}

/* Search style */

.search {
    background-color: seagreen;
    width:100%;
    margin-top:20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    display: flex;
    box-shadow: 5px 2px 2px seagreen;
}

.search h2 {
    padding-left: 100px;
    padding-right: 50px;
    color: white;
    min-width:200px;
}

.search input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 10px;
    width:65%;
    height:25px;
    border-radius:25px;
    border: none;
    margin-left: 20px;
}

.search img {
    max-width: 30px;
    max-height: 30px;
    margin-left: 30px;
    margin-top: 15px;
}

/* ads Style */

#ads {
    display: flex;
    flex-wrap:wrap;
    max-width: 100%;
    box-sizing: border-box;
    justify-content:center;
}

#ads > div {
    margin: 10px;
    padding: 10px;
    background-color: lightblue;
    width: 150px;
    height:150px;
}

/* footer style */

footer {
    background-color: seagreen;
    border-radius: 10px;
    border:1px seagreen solid;
    box-shadow: 5px 2px 2px seagreen;
}

footer h5 {
    font-size: 20px;
    color: white;
    margin: auto;
    width: 50%;
    padding: 10px;  
}

/* media queries */

@media only screen and (max-width: 1000px) {
  
    nav {
      display: none;
    }

    #slogan, #date, #top-text{
      display: none;
    }

    .top-story {
        min-width: 400px;
    }

    .top-story a {
        font-size: 20px;
    }

    .top-story img {
        width: 100%;
    }

    #logo {
        max-width: 400px;  
    }

    .search h2 {
        display:none;
    }

    footer h5 {
        justify-content: center;
        width:100%;
        margin: 20px;
    
    }
}

@media only screen and (min-width: 999px) {

    #hamburger {
      display: none;
    }

    #magnifying {
        display: none;
    }
}